
* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color : rgb(146, 214, 253);
    --secondary-color: rgb(13, 65, 65);
    --thrid-color: rgb(7, 146, 146);
}

body {
    background-color: var(--main-color);
    font-family: 'Space Mono', monospace;

}

h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
}

input {
    width: 100%;
    padding: 5px;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.bill, .buttons, .number {
    margin-top: 13px;
}

.inputbill {
    background-image: url(./images/cifrao.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
    text-align: right;
    border: 1px solid var(--main-color);
    border-radius: 7px;
}

.peopleinput {
    background-image: url(./images/user.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    padding-left: 1.3em;
    text-align: right;
    border: 1px solid var(--main-color);
    border-radius: 7px;
}

.container {
    display: flex;
    border-radius: 4%;
    background-color: white;
    width: 60%;
    height: 70%%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 5%;
}

.content {
    width: 40%;
}

.calculator {
    padding: 5%;
    margin-left: 10%;
    width: 50%;
    background-color: var(--secondary-color);
    border-radius: 4%;
}

.person {
    display: flex;
    margin-bottom: 10%;
}

h2 {
    margin-left: 25%;
    color: var(--main-color);
}

button {
    cursor: pointer;
}

.buttonreset {
    color: var(--secondary-color);
    background-color: var(--thrid-color);
    width: 100%;
    border-radius: 4%;
    border: none;
    padding: 3%;
    cursor: pointer;
}

.buttonreset:hover {
    background-color: var(--main-color);
}

.buttons button {
    background-color: var(--secondary-color);
    color: white;
    width: 80px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}


.buttons input {
    width: 65px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    text-align: center;
    border: 1px solid var(--main-color);
}

.buttons input::-webkit-input-placeholder{
    font-style: bold;
    color: var(--secondary-color);
    font-style: bold;
    background-size: 100%;
}

.buttons button:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

.buttonsselect {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

.buttons label {
    display: block;
}

.span {
    color: white;
}

.span1 {
    color: var(--thrid-color);
}